[Desktop Entry]
Name=Echo
Comment=A native Linux desktop AI chat application for GNOME
Exec=echo
Icon=io.github.mrb101.Echo
Terminal=false
Type=Application
Categories=Utility;Chat;
StartupWMClass=io.github.mrb101.Echo
Keywords=AI;Chat;LLM;Gemini;Claude;Assistant;Ollama;
